@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

header {
  width: 100%;
  height: auto;
  font-size: 24px;
  background-color: black;
  padding: 10px 20px;
}

header h3 {
  font-weight: bold;
  color: white;
}

header .search {
  height: auto;
  width: 100%;
  color: white;
}

header .search input {
  height: 30px;
  border: none;
  width: 80%;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgba(41, 40, 40, 0.555);
  color: white;
  font-weight: bold;
}

header .search input::-webkit-input-placeholder {
  color: white;
}

header .search input::-moz-placeholder {
  color: white;
}

header .search input:-ms-input-placeholder {
  color: white;
}

header .search input::-ms-input-placeholder {
  color: white;
}

header .search input::placeholder {
  color: white;
}

header .search input:focus {
  outline: none;
}

main {
  width: 100vw;
  height: 200px;
  margin-top: 30px;
  overflow: hidden;
}

main .status {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0 20px;
}

main .status .left {
  height: 80%;
  width: 270px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main .status .left .icon {
  width: 30px;
  position: relative;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

main .status .left .icon::before {
  position: absolute;
  content: attr(data-value);
  right: -5px;
  top: -3px;
  height: 12px;
  width: 12px;
  padding: 3px;
  background-color: green;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

main .status .left h3 {
  font-size: 16px;
}

main .status .left p {
  opacity: 0.7;
  font-size: 12px;
}

main .status .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 30px;
  width: 90px;
}

main .status .right form input {
  display: none;
}

main .status .right form label,
main .status .right form .write {
  width: 35px;
  height: 35px;
  background-color: rgba(41, 40, 40, 0.678);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main .status .right form label i,
main .status .right form .write i {
  color: rgba(76, 76, 240, 0.562);
}

main .textArea {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

main .textArea .top {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0 20px;
}

main .textArea .top .left,
main .textArea .top .right {
  height: 80%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main .textArea .top .left i,
main .textArea .top .right i {
  color: white;
  font-size: 20px;
}

main .textArea .top .right {
  width: 70px;
}

main .textArea .bottom {
  width: 100%;
  height: calc(70% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main .textArea .bottom .area {
  width: 100%;
  min-height: 200px;
  height: auto;
  padding: 20px;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
}

main .textArea .bottom .area:focus {
  outline: none;
}

main .textArea .bottom .sendButton {
  background-color: blue;
  position: absolute;
  z-index: 3;
  right: 40px;
  bottom: 220px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 23px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: none;
}

main #viewStatus {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: none;
  color: white;
  z-index: 2;
  display: none;
}

main #viewStatus .listStatuses {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
}

main #viewStatus .listStatuses .top {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: black;
}

main #viewStatus .listStatuses .top .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main #viewStatus .listStatuses .top .back .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main #viewStatus .listStatuses .top .back p {
  font-size: 16px;
}

main #viewStatus .listStatuses .content {
  width: 100%;
  height: auto;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: grey;
  margin-top: 80px;
  padding: 20px 0;
}

main #viewStatus .listStatuses .content .contentElem {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main #viewStatus .listStatuses .content .contentElem .picture {
  width: 45px;
  height: 43px;
  background-color: #7a5757;
  border-radius: 50%;
}

main #viewStatus .listStatuses .content .contentElem .desc {
  width: calc(80% - 50px);
  height: 100%;
  margin-left: 15px;
  border-bottom: 1px solid grey;
  padding-top: 12px;
  color: white;
}

main #viewStatus .listStatuses .content .contentElem .desc p {
  font-size: 16px;
}

main #viewStatus .listStatuses .content .contentElem .desc .timePast {
  opacity: 0.6;
  font-size: 12px;
  margin-top: 3px;
}

main #viewStatus .listStatuses .content .contentElem .options {
  width: 20%;
  height: 100%;
  border-bottom: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main #viewStatus .listStatuses .content .contentElem .options i {
  color: rgba(0, 0, 255, 0.432);
  font-size: 24px;
}

main #viewStatus .listStatuses .content .contentElem:last-child {
  margin-bottom: 0;
}

main #viewStatus .listStatuses .content .contentElem:last-child .desc,
main #viewStatus .listStatuses .content .contentElem:last-child .options {
  border-bottom: none;
}

main #viewStatus p.statusInfo {
  font-size: 13px;
  margin-left: 20px;
  margin-top: 5px;
}
